astroid==2.2.5
beautifulsoup4==4.6.3
bencodepy==0.9.5
certifi==2018.8.24
chardet==3.0.4
feedparser==5.2.1
idna==2.7
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
pylint==2.3.1
pyTelegramBotAPI==3.6.6
requests==2.20.0
schedule==0.5.0
six==1.11.0
transmissionrpc==0.11
typed-ast==1.4.0
untangle==1.1.1
urllib3==1.24.2
wrapt==1.11.2
